<launch>

<arg name="omni_frame_name"         default="omni_rotation"/>

 <!-- omni node publishes joint states on omni1_joint_states -->
    <include file="$(find phantom_omni)/launch/omni_stiffness.launch"> 
        <arg name="omni_frame_name"     default="$(arg omni_frame_name)"/>
    </include>
    
    <!-- Node that publishes a gazebo marco -->
    <include file="$(find marco_gazebo)/launch/marco_gazebo.launch">
        <!--<arg name="parent_frame"     default="$(arg robot_base_frame)"/>
        <arg name="child_frame"     default="$(arg end_effector_frame)"/> -->
    </include>
    
</launch>