<launch>
    <!-- omni node publishes joint states on omni1_joint_states -->
    <node name="omni1" pkg="phantom_omni" type="omni" output="screen" />
    
    <!-- Node that publishes a real marco -->
    <include file="$(find marco_gazebo)/launch/marco_gazebo.launch"/>

    <!-- Node that publishes a marker deviating from marco his end effector -->
    <include file="$(find omni_2_marker)/launch/omni_2_marker.launch"> 
        <arg name="base_frame"          value="base_footprint"/> 
		<!--This name needs to be set as the End-effector of the robot-->
		<arg name="end_effector_frame"          value="arm_tool_link"/>
		<!--Scaling coefficient of omni workspace to robot-->
		<arg name="scale_marker_deviation"          value="0.005"/>
    </include>

    <!-- rviz  -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" /> -->
    <include file="$(find marco_gazebo)/launch/marco_rviz.launch"/>


</launch>