<launch>
    <!--TF arguments-->
    <arg name="robot_base_frame"          value="base_footprint"/> 
    <arg name="end_effector_frame"          value="wrist_ft_tool_link"/>

    <arg name="robot_reference_frame"          value="base_footprint"/> <!-- When changing this change the rotmatrix array -->
    <arg name="omni_frame_name"          value="omni_rotation"/>
    <arg name="rot_matrix_array"          value="0 0 -1 -1 0 0 0 1 0"/> 
    <!-- base_footprint: name="rot_matrix_array"          default="0 0 -1 -1 0 0 0 1 0" -->
    <!-- wrist_ft_tool_link: name="rot_matrix_array"          default="0 -1 0 0 0 1 -1 0 0" -->
    <arg name="virtual_marker_name"          value="virtual_marker"/> 
    
    <!--Topic Names-->
    <arg name="omni_button_state" value="/omni1_button"/>
    <arg name="omni_lock_position_state" value="/omni1_lock_state"/>
    <arg name="marker_visualization" value="/marker_visualization"/>
    <arg name="stiffness_command" value="/stiffness_command"/>
    <arg name="covariance_topic_name" value="/covariance_matrix"/>
    <arg name="eigen_pair" value="/eigen_pair"/>
    <arg name="ellipsoid_visualization" value="/ellipsoid_visualization"/>
    <arg name="force_feedback"          value="/omni1_force_feedback"/> 

    <!--Tune parameters-->
    <arg name="scale_marker_deviation" value="10"/>
    <arg name="min_robot_stiffness" value="100"/>
    <arg name="max_robot_stiffness" value="1000"/>
    <arg name="lambda_min" value="0.01"/>
    <arg name="lambda_max" value="0.45"/>
    <arg name="window_length" value="200"/>
    <arg name="HD_work_range" value="0.06"/>
    <arg name="HD_max_force" value="3.3"/>
 
    <include file="$(find omni_marco_launcher)/launch/omni_gazebo_marco.launch">
        <!--<arg name="robot_base_frame"     default="$(arg robot_base_frame)"/>
        <arg name="end_effector_frame"     default="$(arg end_effector_frame)"/> -->
        <arg name="omni_frame_name"     default="$(arg omni_frame_name)"/>
    </include>

    <include file="$(find haptic_device_rotation)/launch/haptic_device_rotation.launch">
        <arg name="parent_reference_frame"     default="$(arg robot_reference_frame)"/>
        <arg name="child_HD_frame_name"     default="$(arg omni_frame_name)"/> 
        <arg name="rot_matrix_array"     default="$(arg rot_matrix_array)"/>
    </include>

    <include file="$(find haptic_device_2_marker)/launch/omni_2_marker.launch">  
        <arg name="button_topic_name" default="$(arg omni_button_state)"/>
        <arg name="lock_state_topic" default="$(arg omni_lock_position_state)"/>
        <arg name="marker_topic_name" default="$(arg marker_visualization)"/>
        <arg name="robot_reference_frame" default="$(arg robot_reference_frame)"/>
        <arg name="HD_frame_name"     default="$(arg omni_frame_name)"/>
        <arg name="end_effector_frame" default="$(arg end_effector_frame)"/>
        <arg name="scale_marker_deviation" default="$(arg scale_marker_deviation)"/>
        <arg name="lambda_min"        default="$(arg lambda_min)"/>
        <arg name="lambda_max"        default="$(arg lambda_max)"/>
    </include>

    <include file="$(find stiffness_commanding)/launch/stiffness_commanding.launch"> 
        <arg name="lock_state_topic"    default= "$(arg omni_lock_position_state)"/>
        <arg name="stiffness_topic_name" default="$(arg stiffness_command)"/>
        <arg name="covariance_topic_name" default="$(arg covariance_topic_name)"/>
        <arg name="eigen_pair_topic_name" default="$(arg eigen_pair)"/>
        <arg name="end_effector_frame"     default="$(arg end_effector_frame)"/>
        <arg name="virtual_marker_name"     default="$(arg virtual_marker_name)"/>
        <arg name="min_robot_stiffness"     default="$(arg min_robot_stiffness)"/>
        <arg name="max_robot_stiffness"     default="$(arg max_robot_stiffness)"/>
        <arg name="lambda_min"        default="$(arg lambda_min)"/>
        <arg name="lambda_max"        default="$(arg lambda_max)"/>
        <arg name="window_length"     default="$(arg window_length)"/>
    </include>

    <include file="$(find stiffness_visualization)/launch/draw_ellipsoid.launch">  
        <arg name="input_topic_name"        default="$(arg eigen_pair)"/>
        <arg name="output_topic_name"     default="$(arg ellipsoid_visualization)"/>
    </include>

    <include file="$(find stiffness_feedback_forces)/launch/stiffness_feedback_forces.launch">  
        <arg name="robot_stiffness"     default="$(arg stiffness_command)"/>
        <arg name="omni_position_input"     default="$(arg omni_lock_position_state)"/>
        <arg name="output_topic"     default="$(arg force_feedback)"/>
        <arg name="HD_frame_name"     default="$(arg omni_frame_name)"/>
        <arg name="end_effector_frame"     default="$(arg end_effector_frame)"/>
        <arg name="virtual_marker_frame"     default="$(arg virtual_marker_name)"/>
        <arg name="HD_work_range"     default="$(arg HD_work_range)"/>
        <arg name="HD_max_force"     default="$(arg HD_max_force)"/>
    </include>


</launch>